.overflow {
  overflow: hidden;
}
.overlay {
  position: fixed;
  top: 0;
  background-color: #000000d3;
  width: 100vw;
  height: 100vh;
  cursor: pointer;
}
.modal {
  position: fixed;
  border-radius: 30px;
  width: 100vw;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 600px;
  min-width: 300px;
  height: 300px;
  padding: 10px;
  background-color: #ccc;
  z-index: 2;
}
.annonceModal {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  text-align: center;
  width: 100%;
  height: 100%;
}
.titleModal {
  padding-bottom: 10px;
  color: black;
  display: block;
  text-align: center;
}
.imageModal {
  padding: 10px 0;
  width: 100px;
}
.descriptionModal {
  padding-bottom: 10px;
  color: black;
  display: block;
}
.btnChangeModal {
  position: relative;
  right: 50px;
}
.btnDeleteModal {
  position: relative;
  left: 50px;
}

.btnExitModal {
  position: absolute;
  color: red;
  top: 10px;
  right: 10px;
  padding: 5px 8px;
}
.btnExitModal:hover {
  padding: 5px 8px;
}
